__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.h5
*.hdf5
*.egg-info/
.env
.venv
.DS_Store
node_modules/
build/
dist/
*.zip
*.tar.gz
*.rar
data/ 
myenv/
venv/
test_environment.py
train.py
models/
